
body{
    background-image: url("assets/img/fadedroad50.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FCEBB6;
    color: #221811;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #8C3826;
    background-color: #D2B48C;
    text-align: center;
}

h1{
    font-size: 3em;
}

h2{
    color: #8C3826;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a{
    text-decoration: none;
}

footer{
    padding: 1em;
    color: #8C3826;
    border-top: 2px;
}

h3,dt{
  color: #8C3826;
}

h4{
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: .25em;
}

main{
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  display: block;
}
#wrapper{
    min-width: 900px;
    max-width: 1280px;
    box-shadow: inset;
    width: 80%;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}

#homehero{
    background-image: url(assets/img/hero.jpg);
  height: 300px;
  background-size: cover;
}
.details{

  padding-left: 20%;
  padding-right: 20%;
}

img{
  padding-left: 10px;
  padding-right: 10px;
}